body{
    overflow: hidden;
}


footer p{
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-size: 8px;
    text-transform: uppercase;
    color: red;
}


/* For mobile phones: */
.mint-page-wrapper {
    background-image: url("../../assets/0015.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    height: var(--vh);
    box-sizing: border-box;
    display: grid;
    align-items: flex-end;
    justify-content: stretch;
    padding: 0;
}

.content-wrapper {
    max-width: 100vw;
    margin: 0 auto;
    padding: 12px;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    color: #FFF;
    margin-bottom: 0;
}

h2 {
    text-align: left;
    margin-bottom: 24px;
    font-size: 1rem;
}

.card{
    border-radius: 4px;
    /*box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);*/ 
    box-shadow: rgba(50, 50, 93, 0.55) 0px 50px 100px -20px, rgba(0, 0, 0, 0.63) 0px 30px 60px -30px;
    z-index: 1;
    background-image: url("../../assets/0015.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    box-sizing: border-box;
}


.card:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 60, 65, 1);
    filter: blur(10px);
    margin: -20px;
}

.card p {
    text-align: left;
    margin: 0;
    color: #FFF;
    font-weight: 600;
}

.extra-info{
    display: flex;
    gap: 42px;
    margin-top: 14px;
}

.extra-info > p, .disclaimer{
    color: #FFF;
    text-align: left;
    font-size: 0.5rem;
    line-height: 0.6rem;
}

footer{
    display: none;
}

.color-gold {
    color: rgb(255, 215, 0);
}

.robo-packs {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
}

.robo-packs > span {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 2px 8px;
    color: rgb(255, 215, 0);
}

.robo-packs > span:nth-child(odd) {
    color: #FFF;
}
.robo-packs > span > .price {
    margin-top: 5px;
    display: block;
}
/* For desktop: */
@media only screen and (min-width: 768px) {
    .mint-page-wrapper {
        align-items: center;
        justify-content: center;
        padding: 24px;
    }

    .content-wrapper {
        width: 460px;
    }

    .card{
        border-radius: 4px;
        background-size: auto;
        min-width: 400px;
    }

    h1, h2 {
        padding: 0;
    }

    .extra-info > p, .disclaimer{
        font-size: 0.64rem;
        line-height: 1rem;
    }
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }
}







.color-cyan {
    color: rgb(0, 255, 255);
}

.color-gold {
    color: rgb(255, 215, 0);
}

.color-fuschia {
    color: rgb(255, 0, 255);
}